<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benoitletondor.easybudget" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EasyBudget"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".view.MainActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ExpenseEditActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_add_expense"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MonthlyExpensesManageActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_add_monthly_expense"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MonthlyExpenseEditActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_monthly_expense_add"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
