<?xml version="1.0" encoding="utf-8"?>
<!--
   Copyright 2024 Benoit LETONDOR

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="*" />
        </intent>
    </queries>

    <application
        android:name=".EasyBudget"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/LoadingTheme"
        tools:ignore="DataExtractionRules,UnusedAttribute"
        android:dataExtractionRules="@xml/data_extraction_rules">

        <!-- Disable advertising ID and SSAID for GA & FCM -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="google_analytics_ssaid_collection_enabled"
            android:value="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />

        </provider>

        <activity
            android:name=".view.main.MainActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="easybudget" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".view.report.base.MonthlyReportBaseActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_monthly_report"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:exported="false"/>
        <activity
            android:name=".view.expenseedit.ExpenseEditActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_add_expense"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:exported="false"/>
        <activity
            android:name=".view.recurringexpenseadd.RecurringExpenseEditActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_recurring_expense_add"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:exported="false"/>
        <activity
            android:name=".view.settings.SettingsActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity
            android:name=".view.welcome.WelcomeActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:exported="false"/>
        <activity
            android:name=".view.premium.PremiumActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_premium"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity
            android:name=".view.main.login.LoginActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity
            android:name=".view.main.createaccount.CreateAccountActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_create_account"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity
            android:name=".view.main.manageaccount.ManageAccountActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_manage_account"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity
            android:name=".view.settings.backup.BackupSettingsActivity"
            android:label="@string/backup_settings_activity_title"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".view.report.export.ExportReportActivity"
            android:label="@string/title_activity_monthly_report_export"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <!-- Provider used for exporting CSVs to other apps -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!-- Push -->
        <service
            android:name=".push.PushService"
            android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".notif.AppUpdateBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>